In [1]:
import pandas as pd

In [2]:
# load dataset

In [5]:
df = pd.read_csv("Medical Appointment No Shows.csv")
df

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589980e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262960e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679510e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841190e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,2.572130e+12,5651768,F,2016-05-03T09:15:35Z,2016-06-07T00:00:00Z,56,MARIA ORTIZ,0,0,0,0,0,1,No
110523,3.596270e+12,5650093,F,2016-05-03T07:27:33Z,2016-06-07T00:00:00Z,51,MARIA ORTIZ,0,0,0,0,0,1,No
110524,1.557660e+13,5630692,F,2016-04-27T16:03:52Z,2016-06-07T00:00:00Z,21,MARIA ORTIZ,0,0,0,0,0,1,No
110525,9.213490e+13,5630323,F,2016-04-27T15:09:23Z,2016-06-07T00:00:00Z,38,MARIA ORTIZ,0,0,0,0,0,1,No
110526,3.775120e+14,5629448,F,2016-04-27T13:30:56Z,2016-06-07T00:00:00Z,54,MARIA ORTIZ,0,0,0,0,0,1,No

In [6]:
# check the Missing values

In [7]:
missing= df.isnull().sum()
missing

PatientId         0
AppointmentID     0
Gender            0
ScheduledDay      0
AppointmentDay    0
Age               0
Neighbourhood     0
Scholarship       0
Hipertension      0
Diabetes          0
Alcoholism        0
Handcap           0
SMS_received      0
No-show           0
dtype: int64

In [9]:
 #Drop duplicate rows

In [10]:
df.drop_duplicates(inplace=True)

In [14]:
# 4. Standardize text values (example: gender column)

In [15]:
if 'gender' in df.columns:
    df['gender'] = df['gender'].str.upper().str.strip()

In [16]:
# 5. Convert date columns to datetime format

In [17]:
for col in df.columns:
    if 'date' in col:
        df[col] = pd.to_datetime(df[col], errors='coerce')

In [19]:
# 6. Fix data types (example: age should be int)

In [20]:
if 'age' in df.columns:
    df['age'] = df['age'].astype(int)

In [21]:
df.to_csv("cleaned_medical_appointments.csv", index=False)

In [24]:
# Display a short summary of changes
summary = {
    "Total Rows After Cleaning": len(df),
    "Missing Values (after cleaning)": df.isnull().sum().to_dict(),
    "Column Types": df.dtypes.to_dict()
}

print(summary)

{'Total Rows After Cleaning': 110527, 'Missing Values (after cleaning)': {'PatientId': 0, 'AppointmentID': 0, 'Gender': 0, 'ScheduledDay': 0, 'AppointmentDay': 0, 'Age': 0, 'Neighbourhood': 0, 'Scholarship': 0, 'Hipertension': 0, 'Diabetes': 0, 'Alcoholism': 0, 'Handcap': 0, 'SMS_received': 0, 'No-show': 0}, 'Column Types': {'PatientId': dtype('float64'), 'AppointmentID': dtype('int64'), 'Gender': dtype('O'), 'ScheduledDay': dtype('O'), 'AppointmentDay': dtype('O'), 'Age': dtype('int64'), 'Neighbourhood': dtype('O'), 'Scholarship': dtype('int64'), 'Hipertension': dtype('int64'), 'Diabetes': dtype('int64'), 'Alcoholism': dtype('int64'), 'Handcap': dtype('int64'), 'SMS_received': dtype('int64'), 'No-show': dtype('O')}}